.label {
    color: rgb(0, 0, 0);
    padding: 8px;
  }
  
  .success {background-color: #4CAF50;} /* Green */
  .info {background-color: #2196F3;} /* Blue */
  .warning {background-color: #ff9800;} /* Orange */
  .danger {background-color: #f44336;} /* Red */
  .other {background-color: #e7e7e7; color: black;} /* Gray */

  .button {
    color: white;
    padding: 6px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 1px;
    box-sizing: border-box;
    border: none;
    border-radius: 5%;
    margin-left: 5px;
  }

.button1 {background-color: #4CAF50;} /* Green */
.button2 {background-color: #008CBA;} /* Blue */
.button3 {background-color: #f44336;} /* Red */
.button4 {background-color: #e7e7e7; color: black;} /* Gray */
.button5 {background-color: #555555;} /* Black */


.formInput{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}